/* tabs Start */
.register {
  position: relative;
  min-height: 900px;
}

.tabs {
  border-radius: 12px;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.15));
}

.tabs__blocks {
  display: flex;
}

.tabs__title {
  border-bottom: 1.5px solid #c4c4c4;
  width: 50%;
  padding: 20px;
  color: #bfbfbf;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  user-select: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.tabs__title.active {
  color: var(--secondary-color);
}

.tabs__title.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
}

.tabs__content {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: none;
}

.tabs__content.active {
  display: block;
}

.tabs__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.tabs__form * {
  width: 100%;
  border: 0;
  outline: none;
}

.tabs__label {
  color: #979797;
  position: relative;
}

.tabs__input {
  border: 1px solid transparent;
  margin-top: 8px;
  border-radius: 8px;
  padding: 10px 20px;
  background: #f4f4f4;
  font-size: 18px;
  font-weight: 400;
  transition: .5s;
}

.tabs__input:hover {
  border: 1px solid var(--secondary-color);
}

.tabs__input:focus {
  border: 1px solid var(--secondary-color);
}

.tabs__radio {
  cursor: pointer;
}

.tabs__btn-icon {
  width: max-content;
  position: absolute;
  bottom: 14px;
  right: 16px;
  cursor: pointer;
  z-index: 9;
}

.tabs__icon {
  color: var(--secondary-color);
}

.tabs__select {
  border: 1px solid transparent;
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px 20px;
  transition: .5s;
}

.tabs__select:hover {
  border: 1px solid var(--secondary-color);
}

.tabs__select:focus {
  border: 1px solid var(--secondary-color);
}

.tabs__btn {
  border: 3px outset var(--secondary-color);
  border-radius: 8px;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  background: var(--secondary-color);
  color: #fff;
}

.tabs__btn:active {
  border: 3px inset var(--secondary-color);
}

.confirm_span{
  font-size: 20px;
  text-align: center;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 1024px) {
  .tabs {
    position: relative;
  }
}

@media (max-width: 768px) {
  .tabs__link {
    margin: 15px 0;
    font-size: 16px;
  }
}

@media (max-width: 667px) {
  .tabs__logo {
    margin: 0 auto 30px;
  }

  .tabs__content {
    padding: 30px;
  }

  .tabs__form {
    row-gap: 25px;
  }
}

@media (max-width: 480px) {
  .tabs__title {
    padding: 14px;
    font-size: 16px;
  }

  .tabs__label {
    font-size: 12px;
  }

  .tabs__input {
    margin-top: 8px;
    padding: 10px 16px;
    font-size: 14px;
  }

  .tabs__btn {
    margin-top: 15px;
    padding: 10px 0;
    font-size: 16px;
  }
  
  .confirm_span{
    font-size: 18px;
  }
}

@media (max-width: 414px) {
  .tabs__home {
    display: none;
  }
}

@media (max-width: 412px) {
  .tabs__title {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .tabs__btn {
    font-size: 14px;
  }
}
/* tabs End */