/* Navbar Start */
.nav {
  border-bottom: 2px solid #fff;
  background: rgba(6, 35, 62, 0.55);
  backdrop-filter: blur(50px);
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav__container {
  justify-content: space-between;
}

.nav__logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

.nav__menu {
  gap: 30px;
  justify-content: space-between;
}

.nav__contacts,
.nav__list {
  gap: 24px;
}

.nav__icon,
.nav__btn {
  color: var(--primary-color);
}

.nav__link {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}

.nav__link::before {
  content: '';
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: -3px;
  transition: .6s;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__firstname {
  color: #fff;
  font-weight: 500;
}

.nav__btn {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 8px 16px;
}

.nav__button {
  border: none;
  outline: none;
  background: transparent;
  display: none;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  font-size: 24px;
}
/* Navbar End */


/* Media Start */
@media (max-width: 1024px) {
  .navbar {
    width: 100%;
    height: 100vh;
    gap: 1.5rem;
    background: rgb(6, 35, 62);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100vh);
    transition: .75s;
  }

  .responsive__nav {
    transform: none;
  }

  .nav__menu {
    height: 100%;
    justify-content: center;
  }

  .nav__list,
  .nav__contacts,
  .nav__menu {
    flex-direction: column;
  }

  .nav__button {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .nav__close__button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
@media (max-width: 992px) {
  .nav__link,
  .nav__icon,
  .nav__btn {
    font-size: 18px;
  }

  .nav__btn {
    padding: 6px 12px;
  }
}
/* Media End */