/* *::-webkit-scrollbar {
  background: rgba(6, 35, 62, 0.55);
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgb(187, 187, 187);
} */

:root {
  --primary-color: #fff;
  --secondary-color: #004267;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.dis-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.error {
  margin-bottom: 60px;
  color: var(--secondary-color);
  font-size: calc(24px + 24 * (100vw / 1920));
  text-align: center;
  text-transform: capitalize;
}

.title__error {
  color: red;
}

.error {
  margin-bottom: unset;
  color: red;
}

.cards {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.del-btn {
  border: 2px outset #e61b1b;
  border-radius: 6px;
  width: 100%;
  padding: 12px 0;
  color: #fff;
  background: #e61b1b;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.del-btn:active {
  border: 2px inset #e61b1b;
}

.bold-span {
  font-weight: 700;
}

section {
  padding: 60px 0;
}

section:nth-of-type(even) {
  background: rgb(250, 250, 250);
}


/* Media Start */
@media (max-width: 1024px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .title {
    margin-bottom: 20px;
    font-size: calc(24px + (24 + 24 * 0.7) * (100vw - 320px) / 1920);
  }
}
@media (max-width: 684px) {
  section {
    padding: 20px 0;
  }
}
@media (max-width: 375px) {
  section {
    padding: 10px 0;
  }
}
/* Media End */