/* Order Product Start */
.orderProduct__title {
  margin-bottom: 60px;
  font-size: calc(24px + 24 * (100vw / 1920));
  color: var(--secondary-color);
  text-align: center;
  text-transform: capitalize;
}

.orderProduct__card {
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  padding: 20px;
  /* height: 520px; */
  background: #fff;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.orderProduct__card__header {
  border-radius: 8px;
  overflow: hidden;
}

.orderProduct__card--title {
  font-weight: 500;
}

.orderProduct__span {
  font-weight: 700;
}

.orderProduct__show--btn {
  border: 2px outset var(--secondary-color);
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 12px 0;
  width: 100%;
  color: #fff;
  background: var(--secondary-color);
  display: block;
  text-align: center;
}

.orderProduct__show--btn:active {
  border: 2px inset var(--secondary-color);
}
/* Order Product End */